/* Nämä tyylimääreet kohdistuvat kaikkiin elementteihin bodyn sisällä */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Nämä tyylimääreet kohdistuvat kaikkiin elementteihin */
* {
    padding: 0;
    margin: 0;
}

a, p {
    color: green;
}

a:hover{
    color: aqua;
}

.navbar > li {
    display: inline;
    border-right: 1px solid black;
}

ul.navbar{
    padding: 5px;
    display: block;
}

.navbar li:last-child {
    border: none;
}

.navbar a {
    padding: 5px;
}

ul a {
    /*poistetaan linkeiltä alleviivaus*/
    text-decoration: none;
}

a[target="_blank"] {
    font-weight: bold;
}

[type="number"] {
    border: 1px solid red
}

.beige{
    background-color: bisque;
}

li:last-child{
    border: none;
}

ul + p {
    border-top: 1px solid rgb(0, 0, 0);
}

ul ~ p {
    color: rgb(210, 99, 194);
}

.col {
    border: 1px dashed darkolivegreen;
}

[class*="box"] {
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(odd){
    background-color: pink;
}